<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Devops Page</title>
  </head>
  <body>
    <h3>Test Devops Page</h3>
    {{#each dataItems}}
      <div>
        <h4>{{title}}</h4>
        <p>{{description}}</p>
      </div>
    {{/each}}
  </body>
</html>
